@import "libs/bootstrap-reboot.min";
//@import "libs/animate";
//@import "libs/slick";


@import 'base/variables';
@import 'base/mixins';
@import "base/animations";

* {
    font-family: 'Girloy', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}


@import "blocks/title";



@import "blocks/media";