.title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    &_fz21 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;
    }
    &_fz36 {
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
    }
}