.articles {
    margin-top: 120px;
    &__images {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-auto-rows: 370px;
        column-gap: 30px;
        &-photo {
            position: relative;
        }
        &-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35px;
            font-size: 21px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &__trigger {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}