.button {
    padding: 15px 35px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #FFFFFF;
    background: #333333;
}

.header__button {
    display: block;
    margin: 50px auto 0 auto;
}

.salon__button {
    color: #333333;
    background: #fff;
    border: 1px solid #333333;
    margin-top: 75px;
}

.contact__button {}