.suspension {
    margin-top: 100px;
    &__filters {
        display: flex;
        justify-content: space-between;
        &-item {
            width: 160px;
            height: 34px;
            border: none;
            border-bottom: 1px solid #D6D6D6;
        }
    }
}